.services-container{
  padding: 5rem 0;
}
.services-container ul{
  display: flex;
}
@media(max-width: 768px) {
  .services-container ul{
    flex-direction: column;
    text-align: center;
 }
}
.services-container ul li{
  list-style: none;
  margin: 0 1rem;
}
@media(max-width: 768px) {
  .services-container ul li{
    margin: 2rem 0;
  }
}
.services-container ul li i{
  color: #2cc76a;
}
.services-container ul li h3{
  margin: 0.5rem 0;
}
.fas{
  font-size: 50px;
  margin-bottom: 15px;
}
.services-container p{
  line-height: 24px;
}