.contact-container{
  text-align: center;
  padding: 5rem 0 2rem 0;
}
.contact-container h2{
  font-size: 36px;
  margin-bottom: 15px;
}
@media (max-width: 768px){
  .contact-container h2{
    font-size: 24px;
  }
}
.contact-container p{
  font-size: 24px;
  margin-bottom: 40px;
}
@media (max-width: 768px){
  .contact-container p{
    font-size: 18px;
  }
}
.contact-container input,
.contact-container textarea{
  width: 200px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0 10px 20px;
}
.contact-container textarea{
  display: block;
  margin: 0 auto 20px;
  width: 470px;
  height: 150px;
}
@media (max-width: 768px){
  .contact-container textarea{
    width: 80%;
  }
}
.contact-container input[type="submit"]{
  display: block;
  margin: 0 auto;
  width: 200px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #2cc76a;
  color: #fff;
  cursor: pointer;
}
